
div#game {
  width:100%;
  height:1000px;
}

.project-partners {
  padding-top: 9px;
}

.project-partners__heading {
  font-size: 18px;

  margin-bottom: 12px;
}

.project-partners__swiper-wrap {
  position: relative;
  width: 100%;
}

.project-partners__swiper {
  height: 100%;
  width: 100%;

  padding: 0;
}

.project-partners__swiper-wrapper-slide-link {

  margin: 0 auto;

  transition: border-color 0.3s ease-in-out;
}

.project-partners__swiper-wrapper-slide-link:focus {
  outline: none;
  border-color: var(--middle-pink);
}

.project-partners__swiper-wrapper-slide-link:active {
  outline: none;
  border-color: var(--middle-pink);
}

.project-partners__swiper-wrapper-slide-link-img {

  filter: grayscale(100%);
  opacity: 0.4;

  transition: filter 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.project-partners__swiper-wrapper-slide-link:hover
  .project-partners__swiper-wrapper-slide-link-img {
  filter: grayscale(0%);
  opacity: 1;
}

.project-partners__swiper-wrapper-slide-link:active
  .project-partners__swiper-wrapper-slide-link-img {
  filter: grayscale(0%);
  opacity: 1;
}

.project-partners__swiper-button-prev {
  position: absolute;
  top: 25%;
  right: auto;
  left: 0;

  background-color: #ececec;
  border: 2px solid #ececec;
  border-radius: 20px;
}

.project-partners__swiper-button-next {
  position: absolute;
  top: 25%;
  right: 0;
  left: auto;

  background-color: #ececec;
  border: 2px solid #ececec;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .projects__heading {
    margin-bottom: 16px;
  }

  .projects__text {
    max-width: 659px;

    position: relative;
    padding-bottom: 30px;
  }

  .projects__about {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .project-partners {
    padding-top: 28px;
  }

  .project-partners__heading {
    font-size: 24px;

    margin-bottom: 30px;
  }

  .project-partners__swiper-button-prev,
  .project-partners__swiper-button-next {
    top: 35%;
  }



  .project-partners__swiper {
    width: calc(562 / 668 * 100%);
  }

}

@media (min-width: 1024px) {
  .projects__heading {
    margin-bottom: 15px;
  }

  .projects__text {
    max-width: none;

    padding-bottom: 0;
  }

  .projects__about {
    position: relative;
  }

  .project-partners {
    padding-top: 20px;
  }

  .project-partners__heading {
    margin-bottom: 23px;
  }


  .project-partners__swiper {
    width: calc(818 / 925 * 100%);
  }


  .project-partners__swiper-button-prev,
  .project-partners__swiper-button-next {
    top: 40%;
  }
}

@media (min-width: 1440px) {
  .projects__text {
    max-width: 1050px;
  }

  .project-partners__swiper {
    width: calc(1450 / 1600 * 100%);
  }

  .project-partners__swiper-wrapper-slide-link-img {
    height: 100%;
  }
}
